{% extends 'basefront.html.twig' %}


{% block content %}



    <!-- Home -->

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('front/images/about_background.jpg')}}"></div>
        <div class="home_content">
            <div class="home_title">Votre Panier</div>
        </div>
    </div>

    <!-- Offers -->

    <div class="offers">

        <!-- Search -->

        <div class="search">


            <!-- Search Contents -->

            <div class="container fill_height">
                <div class="row fill_height">
                    <div class="col fill_height">

                        <!-- Search Tabs -->

                        <div class="search_tabs_container">
                            <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_tab  d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="{{asset('front/images/suitcase.png')}}" alt=""><span>hotels</span></div>
                                <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="{{asset('front/images/bus.png')}}" alt="">transports</div>
                                <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="{{asset('front/images/departure.png')}}" alt="">evenements</div>
                                <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="{{asset('front/images/island.png')}}" alt="">especes</div>
                                <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="{{asset('front/images/cruise.png')}}" alt="">guide</div>
                                <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="{{asset('front/images/diving.png')}}" href="{{ path('materiel_afficherfront')}}" alt="">materiels</div>
                            </div>
                        </div>

                        <!-- Search Panel -->

                        <div class="search_panel active">
                            <form  method="POST" action="#" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_item">
                                    <div>Nom matériel</div>
                                    <input type="text"  name="nommat" class="destination search_input" >
                                </div>

                                <div class="search_item">
                                    <div>adults</div>
                                    <select name="adults" id="adults_1" class="dropdown_item_select search_input">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <div class="search_item">
                                    <div>children</div>
                                    <select name="children" id="children_1" class="dropdown_item_select search_input">
                                        <option>0</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <input type="submit" class="button search_button" name="rechercher" value="Rechercher" ><span></span><span></span><span></span>

                                <input type="submit" class="button search_button" name="trier" value="Trier par prix desc" ><span></span><span></span><span></span>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <!-- Offers -->

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="section_title">Client:  {{ panier[0].iduser.nom}}    {{ panier[0].iduser.prenom}}</h2>
                </div>
                <div class="col-lg-1 temp_col"></div>
                <div class="col-lg-11">

                    <!-- Offers Sorting -->
                    <div class="offers_sorting_container">
                        <ul class="offers_sorting">
                            <li>
                                <span class="sorting_text">price</span>
                                <i class="fa fa-chevron-down"></i>
                                <ul>
                                    <li class="sort_btn" data-isotope-option='{ "sortBy": "original-order" }' data-parent=".price_sorting"><span>show all</span></li>
                                    <li class="sort_btn" data-isotope-option='{ "sortBy": "price" }' data-parent=".price_sorting"><span>ascending</span></li>
                                </ul>
                            </li>
                            <li>
                                <span class="sorting_text">location</span>
                                <i class="fa fa-chevron-down"></i>
                                <ul>
                                    <li class="sort_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>default</span></li>
                                    <li class="sort_btn" data-isotope-option='{ "sortBy": "name" }'><span>alphabetical</span></li>
                                </ul>
                            </li>
                            <li>
                                <span class="sorting_text">stars</span>
                                <i class="fa fa-chevron-down"></i>
                                <ul>
                                    <li class="filter_btn" data-filter="*"><span>show all</span></li>
                                    <li class="sort_btn" data-isotope-option='{ "sortBy": "stars" }'><span>ascending</span></li>
                                    <li class="filter_btn" data-filter=".rating_3"><span>3</span></li>
                                    <li class="filter_btn" data-filter=".rating_4"><span>4</span></li>
                                    <li class="filter_btn" data-filter=".rating_5"><span>5</span></li>
                                </ul>
                            </li>
                            <li class="distance_item">
                                <span class="sorting_text">distance from center</span>
                                <i class="fa fa-chevron-down"></i>
                                <ul>
                                    <li class="num_sorting_btn"><span>distance</span></li>
                                    <li class="num_sorting_btn"><span>distance</span></li>
                                    <li class="num_sorting_btn"><span>distance</span></li>
                                </ul>
                            </li>
                            <li>
                                <span class="sorting_text">reviews</span>
                                <i class="fa fa-chevron-down"></i>
                                <ul>
                                    <li class="num_sorting_btn"><span>review</span></li>
                                    <li class="num_sorting_btn"><span>review</span></li>
                                    <li class="num_sorting_btn"><span>review</span></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-12">
                    <!-- Offers Grid -->

                    <div class="offers_grid">

                        <!-- Offers Item -->
         {% for i in panier %}
                        <div class="offers_item rating_4">
                            <div class="row">
                                <div class="col-lg-1 temp_col"></div>
                                <div class="col-lg-3 col-1680-4">
                                    <div class="offers_image_container">
                                        <!-- Image by https://unsplash.com/@kensuarez -->
                                        <div class="offers_image_background" style="background-image:url({{asset('front/images/'~ i.refmat.imagemat)}})"></div>
                                        <div class="offer_name"><a href="single_listing.html">{{ i.refmat.nommat}}</a></div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="offers_content">
                                        <div class="offers_price">{{ i.refmat.prixmat}}dt<span>{{ i.refmat.typemat}}</span></div>
                                        <div class="rating_r rating_r_4 offers_rating" data-rating="4">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </div>
                                        <p class="offers_text">{{ i.refmat.descmat}}</p>
                                        <div class="offers_icons">
                                            <ul class="offers_icons_list">
                                                <li class="offers_icons_item"><img src="{{asset('front/images/post.png')}}" alt=""></li>
                                                <li class="offers_icons_item"><img src="{{asset('front/images/compass.png')}}" alt=""></li>
                                                <li class="offers_icons_item"><img src="{{asset('front/images/bicycle.png')}}" alt=""></li>
                                                <li class="offers_icons_item"><img src="{{asset('front/images/sailboat.png')}}" alt=""></li>
                                            </ul>
                                        </div>
                                        <div class="button book_button"><a href="{{ path('panier_usersupprimer',
                                                { 'id':i.idach}) }}">Annuler<span></span><span></span><span></span></a></div>
                                        <div class="offer_reviews">
                                            <div class="offer_reviews_content">
                                                <div class="offer_reviews_title">quantité commandée:</div>
                                                <div class="offer_reviews_subtitle">(en unités)</div>
                                            </div>
                                            <div class="offer_reviews_rating text-center">{{ i.qtach }}</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
              {% endfor %}


                    </div>

                </div>
                {% for i in tot %}
                <div class="offer_reviews">
                    <div class="offer_reviews_content">
                        <div class="offer_reviews_title">Total à payer :</div>
                        <div class="offer_reviews_subtitle">en dinars</div>
                    </div>
                    <div class="offer_reviews_rating text-center">{{ i.tot}} </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>





{% endblock %}



